---
import Layout from '@/layouts/Layout.astro';
import Menu from '@/components/Menu.astro';
import Main from '@/layouts/Main.astro';
import Table from '@/components/Table.astro'
import Form from '@/components/Form.astro'
---

<Layout>
	<Menu />
	<Main>
		<Table />
		<Form />
	</Main>
</Layout>
